/* Index.html */


body{
    overflow: hidden;
	margin: 0;
	font-family: Montserrat, sans-serif;
}
.header{
	width: 100%;
	height: 70px;
	background: linear-gradient(135deg, rgb(99, 231, 180), rgba(45, 182, 129, 0.89));
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-icon{
	display: flex;
	align-items: center;
}
.navigation{
	display: flex;
	align-items: center;
}
.nav-item{
	font-size: 22px;
	margin-right: 33px; 
}
.nav-item:active{
	font-weight: bold;
	border-bottom: 2px solid #000;
}
a{
	color: #000;
	text-decoration: none;
}
.nav-item:last-child{
    margin-right: 0px;
}
.autorization{
	display: flex;
}
.autorization-item:first-child{
    padding-right: 33px;
}
.autorization-item{
	font-size: 22px;
}
.news{
	background: #63E7B4;
	margin: 0;
}



/* Слайдер */
.slider-item-Thaumcraft{
	background-image: url(gallery/pic1.png);
    width: 842px;
	height: 438px;
}
.slider-item-TechnoMagic{
    background-image: url(gallery/pic2.png);
    width: 842px;
	height: 438px;
}
.slider-item-Pixelmon{
    background-image: url(gallery/pic3.png);
    width: 842px;
	height: 438px;
}
.slider-text{
    width: 539px;
	height: 192px;
    background: rgba(113, 107, 107, 0.71);
	border-radius: 0 34px 0 0;
	white-space: pre-line;
    width: 50%;
	text-align: left;
    position: relative;
    top: 300px;
}
.slider-text .title{
    margin-left: 5px;
    margin-bottom: 10px;;
    display: inline-block;
    font-size: 24px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}
.slider-text .description{
    margin: 0 5px 0 10px;
}
.slick-slider{

}
.slick-list{
	overflow: hidden;
}
.slick-track{
	display: flex;
}

/* Слайд */
.slick-slide{

}
.slick-slide.slick-active{

}
.slick-slide.slick-current{

}
.slick-slide.slick-center{

}
.slider-item{

}

/* Стрелочка */

.slick-arrow

/* Стрелочка влево*/

.slick-arrow.slick-prev{

}

/* Стрелочка вправо */

.slick-arrow.slick-next{

}

/* Конкретный слайдер */

.slider{
	border: 5px solid #000;
 	position: relative;
 	width: 842px;
	height: 438px;
}
.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -10px 0 0 0; 
	z-index: 10;
	font-size: 0;
	width: 41px;
	height: 41px;
    outline: none; 
    border: none; 
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url("gallery/arrow_prev.png") 0 0 no-repeat;
}

.slider .slick-arrow.slick-next{
	right: 0;
	background: url("gallery/arrow_next.png") 0 0 no-repeat;
}



/* Точки 
.slider .slick-dots{
   display: flex;
   align-items: center;
   justify-content: center;
}
.slider .slick-dots li{
  list-style: none;
  margin: 0 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
	background: #000;
	border: 1px solid #fff;
}
*/













/* Main */
.main{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.gallery{
  margin-left: 135px;
}
.servers{
	background: #43cd98;
	width: 242px;
	height: 400px;
}
.servers p{
	padding-left: 10px;
	font-size: 22px;
}
.servers-list{
	list-style: none;
    padding-left: 20px;
}
.servers-item{
	margin-top: 20px;
}
.footer{
	margin: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-right: 138px;
}
.downloader{
	width: 360px;
	min-height: 77px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(270deg, rgba(25, 168, 125, 1), rgba(67, 205, 152, 1));
}
.downloader a{
	padding: 5px;
	font-size: 28px;
    font-weight: bold;
}

/* Servers.html */

